<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">No product found!!!</h2>
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>Serial Number</th>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.serialNumber}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.price}"></td>
                <td><a th:href="@{product-update/{id}(id=${product.serialNumber})}")>Edit</a></td>
                <td><a th:href="@{product-delete/{id}(id=${product.serialNumber})}")>Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/product-create">Create product</a></p>
</div>
</body>
</html>